<div class="row survey">
  <div class="col ">
    <h2 class="card-title">調查頁面</h2>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab label="學生學籍資料">
        <mat-card class="survey">
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
                <mat-form-field>
                  <mat-label>姓名</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div class="row">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科系班級：</div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>科系</mat-label>
                    <mat-select>
                      <mat-option value="one">資管系</mat-option>
                      <mat-option value="two">運籌系</mat-option>
                      <mat-option value="two">行銷系</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>年級</mat-label>
                    <mat-select>
                      <mat-option value="one">一</mat-option>
                      <mat-option value="two">二</mat-option>
                      <mat-option value="three">三</mat-option>
                      <mat-option value="four">四</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>班級</mat-label>
                    <mat-select>
                      <mat-option value="one">甲</mat-option>
                      <mat-option value="two">乙</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;聯絡電話：</div>
                <mat-form-field>
                  <mat-label>09xxxxxxxx</mat-label>
                  <input matInput type="tel">
                </mat-form-field>
              </div>
              <div class="col-12">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;別：</div>
                <mat-radio-group class="survey">
                  <mat-radio-button value="1" color="primary">生理男</mat-radio-button>
                  <mat-radio-button value="2" color="primary">生理女</mat-radio-button>
                  <mat-radio-button value="3" color="primary">其他</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-6">
              <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;身分證字號：</div>
              <mat-form-field>
                <mat-label>A123456789</mat-label>
                <input matInput>
              </mat-form-field>
              <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出生日期：</div>
              <mat-form-field>
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [matDatepicker]="picker">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在學期間：</div>
              <mat-form-field>
                <mat-label>MM/DD/YYYY - MM/DD/YYYY</mat-label>
                <mat-date-range-input [rangePicker]="rangepicker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangepicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangepicker></mat-date-range-picker>
              </mat-form-field>
              <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;戶籍地址：</div>
              <mat-form-field>
                <mat-label>戶籍地址</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-12 survey">
              <button mat-raised-button color="primary" class="survey">確認送出</button>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="學生學期成績">
        <mat-card>
          <mat-list>
            <div mat-subheader>Folders</div>
            <mat-list-item *ngFor="let folder of folders">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{folder.name}}</div>
              <div mat-line> {{folder.updated | date}} </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div mat-subheader>Notes</div>
            <mat-list-item *ngFor="let note of notes">
              <mat-icon mat-list-icon>note</mat-icon>
              <div mat-line>{{note.name}}</div>
              <div mat-line> {{note.updated | date}} </div>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="學生歷年成績">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
