@import 'src/app/form/form.component.scss';

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart:active {
  background-position: -2800px 0;
  transition: background-position 1s steps(28);
}


.shop-card {
  height: 200px;
}

.nav {
  width: 240px;
  float: left;
  height: 400px;
}

.goods {
  height: 100px;
}

.amount {
  width: 50px;
  height: 20px;
  text-size-adjust: 12px;
}
