@import 'src/app/form/form.component.scss';
.shop-card{
  height: 200px;
}
.nav{
  width: 240px;
  float:left;
  height:400px;
}
.goods{
  height:100px;
}
.amount{
  width:50px;
  height: 20px;
  text-size-adjust: 12px;
}
